<html class="no-js" ng-app="meanMapApp">
<head>
    <meta charset="utf-8">
    <title>Forager</title>
    <meta name="description" content="An example demonstrating Google Map integration with MEAN Apps">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="style.css"/>
    <!-- Holder JS -->
    <script src="../bower_components/holderjs/holder.js"></script>
    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_HERE"></script>
    <!-- Modernizr -->
    <script src="../bower_components/modernizr/bin/modernizr"></script>
    <!-- JS Source -->
    <script src="../bower_components/jquery/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <script src="../app.js"></script>
    <script src="../addCtrl.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li active><a href="/wildlife">All Wildlife</a></li>
            <li active><a href="/submit">Log a Wildlife Finding</a></li>
        </ul>
        <h3 class="text-muted">Forager</h3>
    </div>
    <!-- Map and Side Panel -->
    <div class="row content">
        <!-- Google Map -->
        <div class="col-md-7">
            <div id="tree"><img src="https://assets.bakker.com/ProductPics/810x978/70889-00-BAKI_20160831160216.jpg"></div>
        </div>

    <!-- Footer -->
    <div class="footer">
        <p class="text-center"><span class="glyphicon glyphicon-check"></span> Created by Matt Milton
             | <a href="https://github.com/mgmilton/forager">Github Repo</a></p>
    </div>
</div>
</body>
</html>
