<html class="no-js" ng-app="">
<head>
    <meta charset="utf-8">
    <title>Forager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css"/>
</head>
<body>
<div class="container">
    <div class="header">
        <h3 class="text-muted">Forager</h3>
    </div>
    <div class="row content">
        <div class="col-md-7">
            <div id="tree" alt="Chanterelle"><img src="http://www.wildedible.com/sites/all/files/og-images/chanterelle.jpg"></div>
        </div>
    </div>

    <div class="form-header">
      <h2>Log a Wildlife Finding</h2>
    </div>
      <form method="post" action="/submit" novalidate>
        <div class="form-field">
          <label for="name">Name</label>
          <input class="input" id="name" name="name" autofocus></input>
        </div>
        <div class="form-field">
          <label for="species">Species</label>
          <input class="input" id="species" name="species" autofocus></input>
        </div>
        <div class="form-field">
          <label for="wild_life_description">Plant or Mushroom Description</label>
          <input class="input" id="wild_life_description" name="wild_life_description" autofocus></input>
        </div>
        <div class="form-field">
          <label for="longitude">Longitude</label>
          <input class="input" id="longitude" name="longitude" type="longitude" value=""autofocus/>
        </div>
        <div class="form-field">
          <label for="latitude">Latitude</label>
          <input class="input" id="latitude" name="latitude" type="latitude" value="" autofocus/>
        </div>
        <div class="form-field">
          <label for="location_description">Location Description</label>
          <input class="input" id="location_description" name="location_description" type="location_description" value="" autofocus/>
        </div>
        <div class="form-actions">
          <button class="btn" type="submit">Send</button>
        </div>
      </form>

      <ul class="nav nav-pills pull-right">
          <li active><a href="/wildlife_map">All wildlife</a></li>
      </ul>
</body>
</html>
