<html class="no-js" ng-app="meanMapApp">
<head>
    <meta charset="utf-8">
    <title>Forager</title>
    <meta name="description" content="An example demonstrating Google Map integration with MEAN Apps">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li active><a href="/wildlife">All Wildlife</a></li>
            <li active><a href="/submit">Log a Wildlife Finding</a></li>
        </ul>
        <h3 class="text-muted">Forager</h3>
    </div>
    <!-- Map and Side Panel -->
    <div class="row content">
       <!-- tree -->
        <div class="col-md-7">
            <div id="tree"><img src="https://assets.bakker.com/ProductPics/810x978/70889-00-BAKI_20160831160216.jpg"></div>
        </div>
</div>
</body>
</html>
