<div class="form-header">
  <h2>Log a wildlife</h2>
</div>
<form method="post" action="/submit" novalidate>
  <div class="form-field">
    <label for="name">Name</label>
    <input class="input" id="name" name="name" rows="1" autofocus></input>
  </div>
  <div class="form-field">
    <label for="species">Species</label>
    <input class="input" id="species" name="species" autofocus></input>
  </div>
  <div class="form-field">
    <label for="wild_life_description">Wildlife Description</label>
    <input class="input" id="wild_life_description" name="wild_life_description" autofocus></input>
  </div>
  <div class="form-field">
    <label for="longitude">Longitude</label>
    <input class="longitude" id="longitude" name="longitude" type="longitude" value="" rows="5" autofocus/>
  </div>
  <div class="form-field">
    <label for="latitude">Latitude</label>
    <input class="latitude" id="latitude" name="latitude" type="latitude" value="" rows="5" autofocus/>
  </div>
  <div class="form-field">
    <label for="location_description">Location Description</label>
    <input class="location_description" id="location_description" name="location_description" type="location_description" value="" rows="5" autofocus/>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>
